#DarkButton {
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
}

h1 {
    padding-left: 50px;
}
h3 {
    padding-top: 10px;
}

p {
    padding-left: 65px;
}

#intro {
    background: lightblue;
    color: black;
    margin: 0px;

}

#WorkExperience {
    background: lightskyblue;
    color: black;
    padding-left: 65px;
    padding-bottom: 10px;
    margin: 0px;
}

#Find-me {
    background: lightcyan;
    padding-left: 65px;
}

body {
    background-color: rgb(130, 219, 235));
}
